<% @completes.each_slice(3) do |completes| %>
      <div class='row'>
         <% completes.each do |complete| %>
            <div class='card'style="width: 18rem;"> 
               <%= image_tag complete.list.photo, class: 'card-img-top' %>
               <div class="card-body">
                  <h5 class="card-title"><%= complete.list.name %></h5>
                  <h6 class="card-subtitle mb-2 text-success"><%= complete.list.description %></h6>
                  <h6 class="card-subtitle"> <%= complete.listo %> </h6>
                  <% if complete.listo %>   
                           <%= button_to "Lista", complete_path(complete), class: 'btn btn-success', method: :patch %>                   
                     <% else %>   
                           <%= button_to "Completar", complete_path(complete), class: 'btn btn-warning', method: :patch %>  
                     <% end %>                
               </div>
            </div>
         <% end %>
      </div>
   <% end %>





